@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Quicksand&display=swap');


.App {
  min-height: 100vh;
  background: linear-gradient(to right, #8360c3, #2ebf91); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: 0;
  padding: 10px;
  outline: none;
  height: 20px;
  font-family: 'Quicksand', sans-serif;
}

.search-button {
  background: transparent;
  border: 2px dashed white;
  border-left: none;
  padding: 10px 20px;
  color: white;
  font-family: 'Fugaz One', cursive;
  height: 40px;
  outline: none;
  align-items: center;
  text-align: center;
}

.search-button:hover {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  border-left: none;
}

.recipes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.search-bar-1 {
  width: 65%;
  height: 80px;
  outline: none;
  border: none;
  margin-top: 300px;
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  outline: none;
}

.search-button-1 {
  width: 100px;
  height: 82px;
  outline: none;
  margin-top: 300px;
  font-size: 20px;
  color: white;
  font-family: 'Fugaz One', cursive;
  border: 2px dashed white;
  border-left: none;
  background: transparent;
}

.search-button-1:hover {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  border-left: none;
}

.main-title {
  position: relative;
  font-family: 'Fugaz One', cursive;
  font-size: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  top: 240px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-device-width : 600px) {
  .main-title{
    font-size: 45px;
  }

  .home-screen {
    position: relative;
    bottom: 50px;
  }

  form {
    margin-top: 0px;
  }

  .search-bar-1 {
    position: relative;
    height: 70px;
    font-size: 35px;
    margin-top: 200px;
    width: 300px;
    left: 70px;
  }


  .form-button {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    top: 50px;
    right: 40vw;
  }

  .search-button-1 {
    border: 2px dashed white;
    height: 80px;
    width: 150px;
  }

  .home-screen {
    position: relative;
    align-items: center;
  }
}